<!DOCTYPE html>
<html lang="en">

<head>
    <title>Encora Recording Viewer</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/PapaParse/5.3.0/papaparse.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/ejs@3.1.5/ejs.min.js"></script>

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Cabin" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://encora.zagon.pe/encora.one/fonts/brandon-grotesque.css">
    <link rel="stylesheet" type="text/css" href="https://encora.zagon.pe/encora.one/fonts/sk-modernist.css">

    <!-- Styles -->
    <link id="lightCssId" href="https://encora.zagon.pe/encora.one/css/light.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" />

    <style type="text/css">


    </style>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>

    <script>
        $(document).ready(
            function() {
                $(".dropdown-autocomplete-menu").select2();
            }
        );

    </script>

</head>

<body>
    <div id="app">


        <nav class="navbar navbar-expand-md navbar-light bg-light shadow-sm fixed-top">

            <div class="container fake-container d-flex flex-nowrap text-nowrap d-md-none">

            </div>

            <div class="collapse navbar-collapse fake-container" id="navbarSupportedContent">
                <a class="navbar-brand" href="index.html">
        encora viewer
    </a>

                <ul class="navbar-nav mr-auto">




                </ul>

                <ul class="navbar-nav">



                </ul>

            </div>

        </nav>
        </head>

        <body>
            <!-- start main container -->
            <div class="container">
                <div class="support">
                    <p class="alert alert-info">
                        <b>Bug with dates being off by one day should now be fixed!</b>
                    </p>
                    </a>
                </div>

                <h2>Encora Recordings Viewer</h2>
                <br/>

                <button type="button" id="load" onclick="loadfile()">Load Recordings!</button>

                <br />
                <br />

                <div id="loadResult"></div>

                <br />
                <br />

                <input type='text' id='searchBox' onkeydown='keypress(this)' />
                <button type='button' id='searchButton' onclick='search()'>Search For Production</button>

                <input type='text' id='performerSearchBox' onkeydown='keypress(this)' />
                <button type='button' id='performerSearchButton' onclick='searchPerformers()'>Search For Performer</button>

                <br />
                <br />

                <button type='button' id='showAll' onclick='showResults(true, true)'>Show All</button>
                <button type='button' id='showVideosOnly' onclick='showResults(true, false)'>Show Videos Only</button>
                <button type='button' id='showAudiosOnly' onclick='showResults(false, true)'>Show Audios Only</button>
                <button type='button' id='sortByDateDesc' onclick='setDateSortMode(false)'>Sort By Date (desc)</button>
                <button type='button' id='sortByDateAsc' onclick='setDateSortMode(true)'>Sort By Date (asc)</button>
                <button type='button' id='sortByToursAfterDates' onclick='setTourSortMode(false)'>Sort By Tour After Date</button>
                <button type='button' id='sortByToursBeforeDates' onclick='setTourSortMode(true)'>Sort By Tour Before Date</button>

                <br />
                <br />

                <div id='resultsTitle'></div>
                <div id="showResults"></div>

                <script>
                    var loadedCSV = {};

                    // searching productions
                    var Productions = [];
                    var Results = [];
                    var FinalResults = [];

                    // searching performers
                    var PerformerProductionToResults = {};

                    var searchingPerformers = false;

                    var sortDatesAscending = true;
                    var sortToursBeforeDates = true;
                    var showingVideos = true;
                    var showingAudios = true;

                    var productionsTemplate = `
                        <% for (production of productionResults) { %>
                            <a href="#" onclick="showProductionTours('<%= production.replaceAll("'", "&apos;") %>');return false;"><%= production %></a>
                            <br>
                        <% } %>
                    `;

                    var performerProductionsTemplate = `
                        <% for (production of productionResults) { %>
                            <a href="#" onclick="showPerformerProductionResults('<%= production.replaceAll("'", "&apos;") %>');return false;"><%= production %></a>
                            (<%= productionToResults[production].length %>)
                            <i>(<%= videoCounts[production] %> videos, <%= productionToResults[production].length-videoCounts[production] %> audios)</i>
                            <br>
                        <% } %>
                    `;

                    var recordingTemplate = `
                                    <% for(recording of results) { %>
                                        <% var video = (recording.video == '1' ? "video" : "audio"); %>
                                        <% var nft = (recording.nft_forever == '1' ? "Yes" : "No"); %>
                                        <% var nfs = (recording.is_nfs == '1' ? "Yes" : "No"); %>
                                        <% var showCast = (recording.cast != '' ? recording.cast : recording.raw_cast); %>
                                        <b><%= recording.production %> - <%= recording.tour %> - <%= recording.date_nice %><%= recording.extras %> (<%= recording.master %>'s <%= video %> master)</b>
                                        <br>
                                        <% if (recording.location != "") { %>
                                            <i><%= recording.location %></i>
                                            <br>
                                        <% } %>
                                        <b>CAST: </b><%= showCast %>
                                        <br>
                                        <b>NOTES: </b> <%= recording.notes %><br>
                                        <b>NFT Date: </b> <%= recording.nft_date %>
                                        &nbsp;&nbsp;&nbsp;&nbsp;
                                        <b>NFT Forever? </b> <%= nft %>
                                        &nbsp;&nbsp;&nbsp;&nbsp;
                                        <b>NFS? </b> <%= nfs %>
                                        <% if (recording.raw_cast != "") { %>
                                            <br>
                                            <a href="#" onclick="var x = document.getElementById('<%= 'rawcast' + recording.recording_id %>');
                                                if (x.style.display === 'none') {
                                                    x.style.display = 'inline';
                                                  } else {
                                                    x.style.display = 'none';
                                                  }; return false;">
                                            <b>Raw Cast:</b></a>
                                            <span id='<%= 'rawcast' + recording.recording_id %>' style='display: none;'>&nbsp;<%- recording.raw_cast %></span>
                                        <% } %>
                                        <% if (recording.mediainfo != "") { %>
                                            <br>
                                            <a href="#" onclick="var x = document.getElementById('<%= 'mediainfo' + recording.recording_id %>');
                                                if (x.style.display === 'none') {
                                                    x.style.display = 'block';
                                                  } else {
                                                    x.style.display = 'none';
                                                  }; return false;">
                                            <b>Mediainfo: </b></a>
                                            <span id='<%= 'mediainfo' + recording.recording_id %>' style='display: none;'><%- recording.mediainfo.replaceAll("\\n","<br>") %></span>
                                        <% } %>
                                        <% if (recording.original_date != "") { %>
                                            <br>
                                            <a href="#" onclick="var x = document.getElementById('<%= 'date' + recording.recording_id %>');
                                                if (x.style.display === 'none') {
                                                    x.style.display = 'inline';
                                                  } else {
                                                    x.style.display = 'none';
                                                  }; return false;">
                                            <b>Raw Date:</b></a>
                                            <span id='<%= 'date' + recording.recording_id %>' style='display: none;'>&nbsp;<%- recording.original_date %></span>
                                        <% } %>
                                        <% if (recording.recording_id != "") { %>
                                            <br>
                                            <a href="#" onclick="var x = document.getElementById('<%= 'recid' + recording.recording_id %>');
                                                if (x.style.display === 'none') {
                                                    x.style.display = 'inline';
                                                  } else {
                                                    x.style.display = 'none';
                                                  }; return false;">
                                            <b>Recording ID:</b></a>
                                            <span id='<%= 'recid' + recording.recording_id %>' style='display: none;'>&nbsp;<%- recording.recording_id %></span>
                                        <% } %>
            
                                        <hr>
                                    <% } %>
                                `;

                    function loadfile() {
                        //Papa.parse("recordings.csv", {
                        Papa.parse(document.getElementById("upload").files[0], {
                            //                download: true,
                            header: true,
                            encoding: "UTF-8",
                            complete: parseComplete // called when CSV has been converted to JSON
                        });
                    }

                    function parseComplete(w) {
                        console.log(w);
                        loadedCSV = w; // JSON with all the data

                        // build a list of all productions
                        Productions = []
                        var productionsSet = new Set();
                        for (recording of loadedCSV.data) {
                            productionsSet.add(recording.production);
                        }
                        Productions = Array.from(productionsSet).sort();

                        document.getElementById("loadResult").innerHTML = "Loaded! Ready to search.";
                    }

                    function keypress(e) {
                        if (event.key === 'Enter') {
                            if (e.id === 'searchBox') {
                                search();
                            } else if (e.id == 'performerSearchBox') {
                                searchPerformers();
                            }
                        }
                    }

                    // search for production titles that contain the search term, render a clickable list of productions
                    function search() {

                        searchingPerformers = false;

                        var searchTerm = document.getElementById("searchBox").value;
                        // remove punctuation from search term
                        searchTerm = searchTerm.replace(/[\.,-\/#!$%\^\*;:{}=\-_`~()"'¡]/gi, '').toLowerCase();

                        var productionResults = [];
                        for (production of Productions) {
                            if (production) {
                                var productionNoPunctuation = production.replace(/[\.,-\/#!$%\^\*;:{}=\-_`~()"'¡]/gi, '').toLowerCase();
                                if (productionNoPunctuation.includes(searchTerm)) {
                                    productionResults.push(production);
                                }
                            }
                        }

                        if (productionResults.length <= 0) {
                            document.getElementById("showResults").innerHTML = "No productions founds :(";
                            document.getElementById("resultsTitle").innerHTML = "";
                            return;
                        }

                        console.log(productionResults);

                        var productionsHtml = ejs.render(productionsTemplate, {
                            productionResults: productionResults
                        });

                        document.getElementById("showResults").innerHTML = productionsHtml;
                        document.getElementById("resultsTitle").innerHTML = "";

                    }

                    // search all casts for this string (note: doesn't just search performer names, also character names)
                    function searchPerformers() {
                        searchingPerformers = true;

                        var searchTerm = document.getElementById("performerSearchBox").value;
                        searchTerm = searchTerm.replace(/[\.,-\/#!$%\^\*;:{}=\-_`~()"'¡]/gi, '').toLowerCase();

                        var productionVideoCounts = {};
                        Results = []
                        for (recording of loadedCSV.data) {
                            if (recording) {
                                var cast_to_search = (recording.cast != '' ? recording.cast : recording.raw_cast);
                                if (!cast_to_search) {
                                    continue;
                                }
                                cast_to_search = cast_to_search.replace(/[\.,-\/#!$%\^\*;:{}=\-_`~()"'¡]/gi, '').toLowerCase();
                                if (cast_to_search.includes(searchTerm)) {
                                    addRecordingExtras(recording);
                                    Results.push(recording);
                                }
                            }
                        }

                        if (Results.length <= 0) {
                            document.getElementById("showResults").innerHTML = "No results found :(";
                            document.getElementById("resultsTitle").innerHTML = "";
                            return;
                        }

                        //            showPerformerResults(true, true);
                        buildPerformerProductionToResults(productionVideoCounts);
                        showPerformerProductions(productionVideoCounts);
                    }

                    // build a map of production -> recordings for all the recording Results for this perfomer
                    function buildPerformerProductionToResults(productionVideoCounts) {
                        PerformerProductionToResults = {};
                        for (recording of Results) {
                            if (recording && recording.production) {
                                var production = recording.production;
                                if (!PerformerProductionToResults[production]) {
                                    PerformerProductionToResults[production] = [];
                                    productionVideoCounts[production] = 0;
                                }

                                PerformerProductionToResults[production].push(recording);
                                if (recording.video == '1') {
                                    productionVideoCounts[production] += 1;
                                }
                            }
                        }
                    }

                    // show a list of all Productions that have performance casts matching the performer search
                    function showPerformerProductions(productionVideoCounts) {
                        var productionResults = Object.keys(PerformerProductionToResults);

                        if (productionResults.length <= 0) {
                            document.getElementById("showResults").innerHTML = "No results founds :(";
                            document.getElementById("resultsTitle").innerHTML = "";
                            return;
                        }

                        productionResults = productionResults.sort();

                        var productionsHtml = ejs.render(performerProductionsTemplate, {
                            productionResults: productionResults,
                            productionToResults: PerformerProductionToResults,
                            videoCounts: productionVideoCounts
                        });

                        document.getElementById("showResults").innerHTML = productionsHtml;
                        document.getElementById("resultsTitle").innerHTML = "";
                    }

                    // search for all tours of production, render a clickable list of tours
                    function showProductionTours(production) {
                        Results = {};
                        var tourVideoCounts = {}
                        var tours = new Set();
                        //            var production;
                        for (recording of loadedCSV.data) {
                            if (recording.production && production && recording.production.toLowerCase().replaceAll("'", "&apos;") == production.toLowerCase()) {
                                if (!tours.has(recording.tour)) {
                                    tours.add(recording.tour);
                                    Results[recording.tour] = [];
                                    tourVideoCounts[recording.tour] = 0;
                                }
                                Results[recording.tour].push(recording);
                                tours.add(recording.tour);
                                if (recording.video == '1') {
                                    tourVideoCounts[recording.tour] += 1;
                                }
                            }
                        }

                        if (tours.size <= 0) {
                            document.getElementById("showResults").innerHTML = "No tours found :(";
                            document.getElementById("resultsTitle").innerHTML = "";
                            return;
                        }

                        tours = Array.from(tours).sort();

                        var titleTemplate = `
                        <h1> <%- production %> </h1>
                    `;

                        var toursTemplate = `
                        <a href="#" onclick="showAllToursTogether();return false;">Show Recordings From All Tours</a>
                        <br><br>
                        <% for (tour of tours) { %>
                           <a href="#" onclick="searchInTour('<%= production.replaceAll("'", "&apos;") %>', '<%= tour.replaceAll("'", "&apos;") %>');return false;"><%= tour %></a>
                            (<%= results[tour].length %>) <i>(<%= tourVideoCounts[tour] %> videos, <%= results[tour].length-tourVideoCounts[tour] %> audios)</i>
                            <br>
                        <% } %>
                    `;

                        var toursHtml = ejs.render(toursTemplate, {
                            tours: tours,
                            production: production,
                            results: Results,
                            tourVideoCounts: tourVideoCounts
                        });

                        var titleHtml = ejs.render(titleTemplate, {
                            production: production
                        })

                        document.getElementById("showResults").innerHTML = toursHtml;
                        document.getElementById("resultsTitle").innerHTML = titleHtml;
                    }

                    // search for all recordings of tour, render a list of recordings
                    function searchInTour(production, tour) {
                        console.log(tour);
                        console.log(production);
                        FinalResults = Results[tour.replaceAll("&apos;", "'")];
                        for (recording of FinalResults) {
                            addRecordingExtras(recording);
                        }

                        showTourResults(true, true, true);
                    }

                    // show all the recordings for a production at once
                    function showAllToursTogether() {
                        FinalResults = [];
                        for (var tour in Results) {
                            for (var rec of Results[tour]) {
                                addRecordingExtras(rec);
                                FinalResults.push(rec);
                            }
                        }

                        showTourResults(true, true, false);
                    }

                    function showResults(videos, audios) {
                        showingVideos = videos;
                        showingAudios = audios;

                        if (searchingPerformers) {
                            showPerformerResults(videos, audios);
                        } else {
                            showTourResults(videos, audios, false);
                        }
                    }

                    // render list of recordings
                    function showTourResults(videos, audios, updateTourTitle) {
                        var renderResults = filterAndSortResults(videos, audios);

                        var titleTemplate = `
                                    <a href="#" onclick="showProductionTours('<%= production.replaceAll("'", "&apos;") %>');return false;"><h1> <%= production %> </h1></a>
                                    <h2> <%= tour %> </h2>
                                `;

                        var titleHtml = ejs.render(titleTemplate, {
                            results: renderResults,
                            production: FinalResults[0].production,
                            tour: updateTourTitle ? FinalResults[0].tour : ""
                        });

                        var resultsHtml = ejs.render(recordingTemplate, {
                            results: renderResults,
                            production: FinalResults[0].production,
                            tour: FinalResults[0].tour
                        });

                        document.getElementById("showResults").innerHTML = resultsHtml;
                        document.getElementById("resultsTitle").innerHTML = titleHtml;
                    }

                    // show list of recordings for this performer + production
                    function showPerformerProductionResults(production) {
                        FinalResults = PerformerProductionToResults[production.replaceAll("&apos;", "'")];
                        if (FinalResults) {
                            showPerformerResults(true, true);
                        }
                    }

                    function showPerformerResults(videos, audios) {
                        var renderResults = filterAndSortResults(videos, audios);

                        var resultsHtml = ejs.render(recordingTemplate, {
                            results: renderResults
                        });

                        document.getElementById("showResults").innerHTML = resultsHtml;
                        document.getElementById("resultsTitle").innerHTML = "";
                    }

                    function setDateSortMode(mode) {
                        sortDatesAscending = mode;
                        showResults(showingVideos, showingAudios);
                    }

                    function setTourSortMode(mode) {
                        sortToursBeforeDates = mode;
                        showResults(showingVideos, showingAudios);
                    }

                    function filterAndSortResults(vid, aud) {

                        var dateSortMultiplier = sortDatesAscending ? 1 : -1;
                        if (sortToursBeforeDates) {
                            FinalResults.sort((a, b) => ((a.production.localeCompare(b.production)) ||
                                (a.tour.localeCompare(b.tour)) ||
                                dateSortMultiplier * (a.date.localeCompare(b.date))));
                        } else {
                            FinalResults.sort((a, b) => ((a.production.localeCompare(b.production)) ||
                                dateSortMultiplier * (a.date.localeCompare(b.date)) ||
                                (a.tour.localeCompare(b.tour))));
                        }

                        var res = FinalResults;

                        // filter out videos/audios
                        if (!vid) {
                            res = res.filter(recording => recording.video != '1');
                        }
                        if (!aud) {
                            res = res.filter(recording => recording.video == '1');
                        }

                        return res;
                    }

                    // some extra formatting etc for a recording
                    function addRecordingExtras(recording) {

                        recording.extras = "";
                        if (recording.matinee == "1") {
                            recording.extras += " (Matinee)";
                        }
                        if (recording.is_closing == "1") {
                            recording.extras += " (Closing Night)";
                        }
                        if (recording.is_opening == "1") {
                            recording.extras += " (Opening Night)";
                        }
                        if (recording.is_preview == "1") {
                            recording.extras += " (Preview)";
                        }
                        if (recording.highlights == "1") {
                            recording.extras += " (Highlights)";
                        }

                        // nice date if full date is known
                        try {
                            var date = new Date(recording.date);
                            if (recording.day_not_known != "1") {
                                var options = {
                                    weekday: undefined,
                                    year: 'numeric',
                                    month: 'long',
                                    day: 'numeric',
                                    timeZone: 'UTC'
                                };
                                recording['date_nice'] = date.toLocaleDateString("en-US", options);
                                recording['original_date'] = recording.date;
                            } else {
                                recording['date_nice'] = recording.date;
                                recording['original_date'] = recording.date;
                                // replace date with 1st of month/year for sorting purposes
                                recording['date'] = date.toISOString().split('T')[0];
                            }
                        } catch (err) {
                            // something went wrong with date formatting, just leave it...
                            console.log(err);
                        }

                    }

                </script>

                <div id="footer" class="row mt-3">
                    <div class="container">
                        <div class="col align-self-center">
                            <h6 class="text-center">
                    <i class="far fa-copyright"></i>
                    2020 Encora and of the respective rightsholders.
                </h6>
                            <div class="text-center">
                                Developed by <a href="https://reddit.com/u/7-hoursbehind">7hoursbehind</a> and <a href="https://reddit.com/u/Zagon__">Zagon</a>
                            </div>
                            <div class="text-center">
                                <i class="fab fa-github"></i> <a href="https://github.com/sevenhoursbehind/encora-rec-viewer">Source</a>
                            </div>
                        </div>
                    </div>
                </div>

        </body>

</html>
